<a href="https://colab.research.google.com/github/haris18896/Python-Data-Analysis/blob/main/loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loops

In [2]:
job_list = [
    "Software Engineer",
    "Web Developer",
    "Mobile Developer",
    "Game Developer",
    "Data Scientist",
    "Machine Learning Engineer",
    "DevOps Engineer",
    "Cloud Engineer",
    "Security Engineer",
    "Database Administrator",
    "Systems Analyst",
    "Software Tester",
    "Technical Writer",
    "Product Manager",
    "Project Manager",
    "Business Analyst",
    "Technical Support Engineer",
    "Software Architect",
    "UI/UX Designer",
    "Front-End Developer",
    "Back-End Developer",
    "Full-Stack Developer",
    "Embedded Systems Engineer",
    "Robotics Engineer",
    "Artificial Intelligence Engineer",
    "Blockchain Developer",
    "Cryptocurrency Developer",
    "Software Quality Assurance Engineer",
    "Software Configuration Management Engineer",
    "Software Release Engineer",
    "Software Maintenance Engineer",
    "Software Localization Engineer",
    "Software Internationalization Engineer",
    "Software Documentation Engineer",
    "Software Training Engineer",
    "Software Sales Engineer",
    "Software Marketing Engineer",
    "Software Evangelist",
    "Open Source Software Developer",
    "Free and Open Source Software Developer",
    "Linux Kernel Developer",
    "Android Developer",
    "iOS Developer",
    "Windows Developer",
    "MacOS Developer",
    "Embedded Linux Developer",
    "Real-Time Operating System Developer",
    "Network Programmer",
    "Systems Programmer",
    "Firmware Engineer",
    "Hardware Engineer",
    "Electrical Engineer",
    "Computer Engineer",
    "Computer Scientist",
    "Software Researcher",
    "Artificial Intelligence Researcher",
    "Machine Learning Researcher",
    "Data Mining Researcher",
    "Natural Language Processing Researcher",
    "Computer Vision Researcher",
    "Robotics Researcher",
    "Software Engineering Professor",
    "Computer Science Professor",
    "Artificial Intelligence Professor",
    "Machine Learning Professor",
    "Data Science Professor",
    "Programming Instructor",
    "Computer Science Instructor",
    "Artificial Intelligence Instructor",
    "Machine Learning Instructor",
    "Data Science Instructor",
]

In [3]:
analyst_list = []

for job in job_list:
    if "Web" in job:
      analyst_list.append(job)

In [4]:
analyst_list

['Web Developer']

In [5]:
len(analyst_list)

1

In [6]:
numbers = [0,1,2,3,4,5,6,7]

In [7]:
for number in numbers:
  print(number)

0
1
2
3
4
5
6
7

In [11]:
characters = 'PYTHON'

In [12]:
for character in characters:
  print(character)

P
Y
T
H
O
N

In [17]:
years_expereince = {
    'Haris': 3,
    'Ahmad': 2,
    'Khan': 6
}

In [18]:
for person in years_expereince:
  print(person)

Haris
Ahmad
Khan

In [19]:
for person in years_expereince.values():
  print(person)

3
2
6

In [21]:
for key, value in years_expereince.items():
  print(key, 'has', value, 'expereince')

Haris has 3 expereince
Ahmad has 2 expereince
Khan has 6 expereince

In [22]:
for key, value in years_expereince.items():
  if value >=5:
    print(key, 'has', value, 'expereince')

Khan has 6 expereince

In [23]:
for _ in range(100):
  print(_)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [24]:
while True:
  print('Hello World')
  break

Hello World

In [25]:
count = 0
while count < 10:
  print(count)
  count += 1

0
1
2
3
4
5
6
7
8
9

In [43]:
years = 0
index = 0

years_expereince = {
    'Haris': 3,
    'Ahmad': 2,
    'Khan': 6
}

years_list = list(years_expereince.items())

years_list

[('Haris', 3), ('Ahmad', 2), ('Khan', 6)]

In [46]:
while years < 5:
  key, values = years_list[index]
  print(key, values)
  years += 1

# List comprehension

In [51]:
## Shor Method

numbers = [x for x in range(100)]

numbers

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [50]:
#same as above

numbers = []

for number in range(100):
  numbers.append(number)

numbers

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [52]:
analyst_list = [job for job in job_list if "Web" in job]

analyst_list

['Web Developer']